.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header__logo {
  display: block;
  text-decoration: none;
}

.header__list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style-type: none;
}

.list__item {
    margin-right: 27px;
}

.list__item:last-child {
  margin-right: 0;
}

.item__link {
  text-decoration: none;
  color: rgb(37, 18, 134);
}

.header__form {
  margin-bottom: 0;
}

.left-section {
  max-width: 250px;
  background-color: rgba(223, 219, 214, 0.308);
}

.left-section__list {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 25px;
}

.left-section__item {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.item-text {
  margin: 0;
  margin-right: 10px;
}

.main {
  display: flex;
}

.right-section {
  background-color: rgb(213, 213, 238);
}